.pane{
-fx-background-radius : 5px;
}
.btn{
-fx-border-radius :5px;
-fx-background-color :blue;
-fx-text-color:white;
-fx-font-family : arial;
-fx-border-with : 0px 0px .8px 0px;
}
.textfield{
-fx-background-color:#fff;
-fx-background-radius:8px;
-fx-border-color:linear-gradient(to right ,#444857,#537e90);
-fx-border-radius : 8px;
-fx-border-with : 0px 0px .8px 0px;
}
.textfield:focused{
-fx-border-color:linear-gradient( to bottom right ,#2f3f89,#9231b5);
-fx-border-with:0px 0px 1.5px 0px;
}